@import '_vars';
@import 'modules/_home';
@import 'modules/_home';

a{
    text-decoration: none;
    color: $text-color;
    text-transform: uppercase;
    margin-left: 10px; 
  margin-right: 10px;
}

h1
{
    position: absolute;
    top: 40px;
    font-size: 5em;
}
