
<h1 class="mainbacktitle">{{title}}</h1>
<img src="/images/{{mainimage}}" alt="shoe image">

<div class="navigation">
<a href="/user1">BACK VIEW</a>
<a href="/">SIDE VIEW</a>
<a href="/user2">BOTTOM VIEW</a>
</div>
