<h1>{{title}}</h1>

<img src="/images/{{bioPic}}" alt="user image" class="shoeimage">

<p>{{bio}}</p>

<div class="navigation">
<a href="/user1">BACK VIEW</a>
<a href="/">SIDE VIEW</a>
<a href="/user2">BOTTOM VIEW</a>
</div>