<div class="picandtitle">
<h1 class="mainbacktitle">{{title}}</h1>
<img src="/images/{{bioPic}}" alt="shoe image">
</div>

<div class="navigation">
<a href="/user1">BACK</a>
<a href="/">SIDE</a>
<a href="/user2">BOTTOM</a>
</div>

<p class="desc">{{bio}}</p>
